.App {
  color: white;
}

.App-header {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: black;
  justify-content: center;
  align-items: center;
}

.Artist-name {
  width: 1064px;
  height: 165px;
  position: relatie;
  top: 50%;
  margin: -123.5px 0 0 0;
  font-family: Poppins-Medium;
  font-size: 110px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -2.2px;
  text-align: center;
  padding-bottom: 11px;
}

.Artist-detail {
  width: 411px;
  height: 60px;
  font-family: Poppins-Light;
  font-size: 20px;
  padding-top: 11px;
  margin: 0px;
}
